export(alive)
export(birth)
export(change)
export(change_fast)
export(changed_value)
export(checkFormat)
export(compare)
export(coverage)
export(cramerV.test)
export(dateDiff)
export(death1)
export(death2)
export(describe)
export(itableplot)
export(MAPE)
export(overcoverage)
export(quality.report)
export(redundancy)
export(relation)
export(sMAPE)
export(tableplot)
export(unchanged_value)
export(undercoverage)
export(visualise)
import(knitr)
